<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%#= form.label :owner_id %>
    <%= form.hidden_field :owner_id, id: :listing_owner_id %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :listing_title, placeholder: 'eg A and B\'s wedding @ C' %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_field :venue, id: :listing_venue, placeholder: 'address of the wedding' %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :listing_city, placeholder: 'where your wedding will be held' %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :listing_country, placeholder: 'of your wedding' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :listing_content, placeholder: 'Describe the venue, the duration, and anythig noteworthy, why would they love to work your wedding?' %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :listing_date %>
  </div>

   <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
