<h2> <%= @listing.title %> </h2>
<p>
  <strong>Location:</strong>
  <%= @listing.venue %>, <%= @listing.city %>, <%= @listing.country %>
</p>

<p>
  <strong>Date:</strong>
  <%= @listing.date %>
</p>

<p>
  <%= @listing.content %>
</p>

