<p id="notice"><%= notice %></p>

<p>
  <strong><%= @listing.title %></strong>
</p>  

<p>
  <strong>Location:</strong>
  <%= @listing.venue %>, <%= @listing.city %>, <%= @listing.country %>
</p>

<p>
  <strong>Date:</strong>
  <%= @listing.date %>
</p>

<p>
  <%= @listing.content %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @listing.owner.fullname %>
</p>
<% already_offered = user_already_offered(current_user, @listing) %>
<% if already_offered %>
  <p id="already-offered-notice"> you have offered to work this wedding for <%= number_to_currency(@previous_offer.amount) %> </p>
<% end %>
<% if current_user == @listing.owner %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> 
<% else %>
  <% if already_offered %>
    <%= link_to 'Revise offer', apply_listing_path(@listing) %> 
  <% else %>
    <%= link_to 'Apply', apply_listing_path(@listing) %> 
  <% end %>
<% end %>
 |
<%= link_to 'Back', listings_path %>
