<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @listing.owner %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @listing.venue %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<p>
  <strong>Content:</strong>
  <%= @listing.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @listing.date %>
</p>

<p>
  <strong>Accepted offer:</strong>
  <%= @listing.accepted_offer %>
</p>

<p>
  <strong>Date accepted:</strong>
  <%= @listing.date_accepted %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
