<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Biography %><br>
    <%= form.text_area :bio, id: :portfolio_bio %>
  </div>

  <div class="field">
  <%- if @portfolio.image_data? %>
  current portfolio photo:
    <div class="field">
      <%= image_tag @portfolio.image_url(:thumb) %>
    </div>
    <div class="field">
      Remove photo? <%= form.check_box :remove_image %>
    </div>
    <%= form.label :set_new_portfolio_photo %>
  <% else %>
    <%= form.label :upload_a_photo_of_yourself %>
  <%- end %>
    
    <%= form.file_field :image, id: :portfolio_image %>
  </div>
  <h4> Where you work most: </h4>
  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :portfolio_city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :portfolio_country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
