<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @portfolio.bio %>
</p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user %>
</p>

<p>
  <strong>Avatar data:</strong>
  <%= @portfolio.avatar_data %>
</p>

<p>
  <strong>City:</strong>
  <%= @portfolio.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @portfolio.country %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
