
<p id="notice"><%= notice %></p>
<p>
  <strong><%= @portfolio.user.fullname %></strong>
</p>

<p>
  <strong>&lt;Avatar data&gt;</strong>
  <%= @portfolio.avatar_data %>
</p>

<% if @portfolio.user == current_user %>
  <%= link_to 'Edit', edit_portfolio_path(@portfolio) %><br>
<% end %>
<%# number of reviews %>
<span><%######## Begin STARS #######%>
<% format_stars_portfolio_average(@portfolio).each do |star| %>
<%# format_stars(@portfolio.reviews.average(:rating)).each do |star| %>
  <i><%= fa_icon star %></i>
<% end %>
</span><%######## end STARS #######%> 
&lpar;<%= score_as_percentage(@portfolio) %>&percnt;&rpar;

<%= link_to @reviews_link_text, portfolio_reviews_path(@portfolio) %>


<p>
  <%= @portfolio.bio %>
</p>


<p>
  <%= @portfolio.user.first_name %> is based in <br>
  <%= @portfolio.city %>, <%= @portfolio.country %>
</p>

<% if @portfolio_has_photos %>
  <h2> Some of <%= @portfolio.user.first_name %>&rsquo;s work: </h2>
  <% @portfolio_photos.each do |photo| %>
    <%= link_to photo.description, portfolio_photo_path(@portfolio, photo) %><br>
  <% end %>
<% end %>

<%= link_to 'Back', portfolios_path %>
