<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= @photo.image_data %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @photo.portfolio %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
