<p id="notice"><%= notice %></p>

<h1>Reviews for <%= @portfolio.user.fullname %></h1>
<%#
stars date
description
author
%>
<table>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
        
        <table><tr><td>
        
          <span><%######## Begin STARS #######%>
          <% format_stars(review.rating).each do |star| %>
            <i><%= fa_icon star %></i>
          <% end %>
          </span><%######## end STARS #######%>
        
        </td>
        <td><%= review.updated_at.to_formatted_s(:long) %>
        </td></tr></table>

        </td>
      </tr>
      <tr>
        <td><%= review.content %> </td>
      </tr>
      <tr>
        <td><%= review.author.fullname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <%# @reviews.each do |review| %>
   
        <%#= review.author %>
        <%#= review.portfolio %>
        <%#= review.content %>
        <%#= review.rating %>
        <%#= link_to 'Show', portfolio_review_path(@portfolio, review) %>
        <%#= link_to 'Edit', edit_portfolio_review_path(@portfolio, review) %>
        <%#= link_to 'Destroy', portfolio_review_path(@portfolio, review), method: :delete, data: { confirm: 'Are you sure?' } %>
    

<br>
<%= link_to 'New Review', new_portfolio_review_path %>
<br>
<br>
<%= link_to 'Back', @portfolio %>

