<!DOCTYPE html>
<html>
  <head>
    <title>PhotoVow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- landing page font -->
    <link href="https://fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet"> 

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="photovow-bg-color">
    <!-- banner -->
    <nav class="banner navbar navbar-default navbar-fixed-top">
      <div class="container">
        <% if user_signed_in? %>
          <% user = current_user.first_name %>
          <%= link_to "Sign out #{user}", destroy_user_session_path, method: :delete, class: :btn %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: :btn %>
        <% end %>
        |
        <%= link_to 'Home', home_index_path, class: :btn %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="center">
      <%= yield %>
    </div>
  </body>
</html>
